<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-15">
      <div class="card">
        <div class="text-center">
          <img
            src="https://i.imgur.com/bDLhJiP.jpg"
            width="200"
            class="rounded-circle"
          />
        </div>
        <div class="text-center mt-3">
          <div *ngIf="!loading">
            <span class="bg-secondary p-1 px-4 rounded text-white">{{ user.role }}</span>
            <h5 class="mt-2 mb-0">{{ user.name }}</h5>
            <span>{{user.email}}</span>
            <div class="px-4 mt-1">
          </div>
            <h1
              style="
                text-align: center;
                margin-bottom: 12px;
                color: lightslategray;
              "
            >
              Recent Posts
            </h1>
            <app-loading *ngIf="loading"></app-loading>
            <div class="row" *ngIf="!loading">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div *ngFor="let post of posts">
                <div>
                  <app-preview-post [post]="post"></app-preview-post>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
