<!-- Main Content -->
<!-- *ngIf="!success" -->
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <form
      name="form"
      #f="ngForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      novalidate
    >
      <div class="control-group">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            name="title"
            [(ngModel)]="post.title"
            [disabled]="processing"
            required
            #title="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && title.errors }"
          />
          <div class="invalid-feedback" *ngIf="title.errors && f.submitted">
            <div *ngIf="title.errors['required']">Title is required</div>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="form-group">
          <label for="category">Category</label>
          <input
            type="text"
            class="form-control"
            name="category"
            [(ngModel)]="post.category"
            [disabled]="processing"
            required
            #category="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && category.errors }"
          />
          <div class="invalid-feedback" *ngIf="category.errors && f.submitted">
            <div *ngIf="category.errors['required']">Category is required</div>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            rows="5"
            class="form-control"
            name="content"
            [(ngModel)]="post.body"
            [disabled]="processing"
            required
            #content="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && content.errors }"
            ></textarea>
            <div class="invalid-feedback" *ngIf="content.errors && f.submitted">
            <div *ngIf="content.errors['required']">content is required</div>
          </div>

        </div>
      </div>

      <br />

      <app-loading *ngIf="processing && !success && !failure"></app-loading>

      <div
        class="alert alert-success pointer"
        *ngIf="success"
        routerLink="/home"
        role="alert"
      >
        You're entry was successfully posted! Click here to go home.
      </div>

      <div
        class="alert alert-danger pointer"
        *ngIf="f.submitted && !success"
        routerLink="posts/new-post"
        role="alert"
      >
        Post publish failed!<br />{{ errorMessage }}
      </div>

      <div class="form-group text-center mx-auto" *ngIf="!submitted">
        <button type="submit" class="btn btn-secondary">Submit</button>
      </div>
    </form>
  </div>
</div>
